.button {
  composes: lostAndFoundButton from '../../global.css';
}

.button:hover {
      background:  linear-gradient(315deg, #419EF1 0%, #9BD0FF 100%);
      color: var(--white-color);
}

.active {
  background-color: var(--blue-color);
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .container {
    margin-bottom: 24px;
    min-height: 80px;
    max-width: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    /* margin-bottom: -120px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80px;
    max-width: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    /* margin-bottom: px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 90px;
    width: 320px;
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    margin-right: 8px;
  }
}

