.userCard{
    display: flex;
    background:  var(--milk-bckg-color);
    composes: shadow from '../../global.css';
    width: 280px;
    /* padding: 20px 8px 20px 8px; */
    border-radius: 20px;
    /* margin-bottom: 46px; */
    height: 517px;
    @media screen and (min-width: 768px) {
        /* padding: 0; */
        width: 704px;
        height: 268px;

    }
    @media screen and (min-width: 1280px) {
        width: 395px;
        height: 520px;
    } 
}
.form {
    /* display: flex;
    flex-direction: column; */
    width:  100%;
    padding: 20px 8px 24px 8px;
    @media screen and (min-width: 768px) {
        padding: 20px 76px 20px 20px;
        
    }
    @media screen and (min-width: 1280px) {
        padding: 20px 24px 19px 16px;
        
    } 
    
  }
  .userInfoWrapper{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }
    @media screen and (min-width: 1280px) {
        flex-direction: column;
        /* gap: 63px; */
    } 
  }
  
.inputWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputTitle{
    font-size: 14px;
    margin: 0;
    @media screen and (min-width: 768px) {
       font-size: 18px;
        
    }
    
}
.input{
   
  
    width: 190px;
    padding: 4px 12px 4px 12px;
    border-radius: 20px;
    border: 1px solid var(--blue-color);
    color: var(--black-color);
    font-size: 12px;
    @media screen and (min-width: 768px) {
        width: 255px;
         
     }
}
.LogOutBtn{
    padding: 0;
    margin-top: 25px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(136, 136, 136, 1);
    font-size: 16px;
    &:hover{
        cursor: grab;
        color: var(--blue-color);
    }
    @media screen and (min-width: 768px) {
        margin-top: 14px;
        
    }
    &:hover{
        transform: scale(1.03);
    }
}
.iconLogOut{
    fill: var(--blue-color);
    width: 24px;
    height: 24px;
}
/* .userInfo{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: 768px) {
        width: 355px;
       
    }
} */
.avatarWrapper{
    display: flex;
    justify-content: center;
    /* margin-bottom: 59px; */
    flex-direction: column;
    align-items: center;
   
}
.avatar{
    display: block;
    width: 182px;
    height: 182px;
    border-radius: 40px;
    object-fit: cover;
}
.photoWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.editPhotoContainer{
    display: flex;

    justify-content: center;
  
    margin-bottom: 25px;
}


.iconWrapperCheck{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.iconWrapperCross{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.cameraIcon{
    stroke: var(--blue-color);
    width: 24px;
    height: 24px;
    fill: none;
  }
.btnEdit{
    margin-top: 15px;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 94px;
    height: 24px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    border: none;
    background-color: transparent;
    align-items: center;
    gap: 8px;
    padding: 0;
    @media screen and (min-width: 768px) {
        margin: 0 auto 0;
        
    }
}
.avatarWrapperRead{
    
    margin-bottom: 59px;
    
    display: flex;
    justify-content: center;
 
    flex-direction: column;
    align-items: center;

}
.avatarReadonlyON{
    margin: 0 auto 59px auto;
    @media screen and (min-width: 768px) {
        margin: 0;
    }
    
  
}


.btnDual {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px auto 21px;
    gap: 8px;
    font-size: 12px;
    @media screen and (min-width: 768px) {
        margin: 0 auto 0;
        
    }
  }
  .btnConfirm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.83;
    border: 0;
    background: transparent;
   
  }
  .iconCheck {
    
    width: 24px;
    height: 24px;
    
  }
  .iconCross {
    width: 24px;
    height: 24px;
    
  }
  .btnEdit {
    margin-bottom: 21px;
    @media screen and (min-width: 768px) {
       
        margin: 0;
        
    }
  }
  .iconCamera {

    width: 24px;
    height: 24px;
    stroke: var(--blue-color);
 
    fill: none;

  }
  .saveBtn{
    display: block;
    width: 248px;
    height: 31px;
    padding: 0;
    /* padding:  auto 6px auto 6px; */
    font-size: 14px;
    border: none;
    background-color: var(--blue-color);
    border-radius: 40px;
    color:  rgba(254, 249, 249, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    @media screen and (min-width: 768px) {
        width: 255px;
        height: 32px;
        font-size: 14px;
        margin: 0;
        margin-top: 10px;
        
    }
    @media screen and (min-width: 1280px) {
      height: 34px;
    }
    &:hover{
        background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
cursor: grab;
    }
    
  }
  
  .avatarWrapper{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        justify-content: flex-start;
        height: 220px;
       
        
    }
    @media screen and (min-width: 1280px) {
      
        height: 245px;
    } 
  }
  .saveBtnWrapper{
    display: flex;
    justify-content: flex-end;
    
   
  }
  .infoWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: 768px) {
        width: 355px;
       
    }
  }