.petsList{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 1280px) {
        gap: 24px;
    } 
    
}
.imgNoPet{
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}
.noPetsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    @media screen and (min-width: 768px) {
        width: 704px;
        margin-top: 0;

    }
}
