.container {
    margin: 0 auto;
    padding: 0;
}

.list {
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 69px;
        @media screen and (min-width: 768px) {
                    width: 768px;
                        .item:nth-child(2n) {
                                margin-right: 0;
                            }
            }
        @media screen and (min-width:1280px) {
           width: 1280px;
                .item:nth-child(2n) {
                        margin-right: 32px;
                    }


        .item:nth-child(3n) {
                margin-right: 0;
            }
            }
             .item:last-child {
                margin: 0;
            }
     
}

.item {
    composes: shadow from '../../global.css';
    margin: 0;
    padding: 0;
    width: 280px;
    height: 267px;

    margin-bottom: 32px;
    border-radius: 40px;
    background-color: var(--milk-bckg-color);
    transition-property: scale,
    box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition);
        @media screen and (min-width: 768px) {
                margin-right: 32px;
                width: 336px;
                    height: 275px;
            }
        
            @media screen and (min-width:1280px) {
            width: 395px;
            height: 287px;
                }
            }


.item:hover {
    scale: 1.1;
    box-shadow: 7px 13px 14px 0px rgba(116, 177, 232, 0.24);
    transform: transition;
}

.item:last-child {
    margin-right: 0;
}

.title {
    text-align: center;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--blue-color);
    margin-top: 16px;
    margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    width: 260px;
    height: 27px;
    overflow: hidden !important;

}

.thumb {
    display: flex;
    width: 100px;
    height: 68px;
            @media screen and (min-width: 768px) {
                    width: 124px;
                    height: 88px;
                        overflow: hidden;
                }
            
                @media screen and (min-width:1280px) {
                width: 146px;
                    height: 104px;
                        overflow: hidden;
                }
}

.info {
    display: flex;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
}

.details {
    margin-left: 12px;
            @media screen and (min-width:1280px) {
                margin-left: 20px;
                }
}

.image {
    display: block;
    object-fit: cover;
    width: 100%;
    
}

.dropdownContent {
    position: absolute;
    top: 95px;
    left: 90px;
    min-width: 120px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--blue-color);
    background: var(--milk-bckg-color);

    @media screen and (min-width: 768px) {
        font-size: 14px;
            top: 100px;
            left: 130px;
            }
        
            @media screen and (min-width:1280px) {
            top: 107px;
            left: 170px;
            }

}

.infoTitle {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
            @media screen and (min-width: 768px) {
            font-size: 14px;
                font-style: normal;
                font-weight: 600;
                }
            
                @media screen and (min-width:1280px) {
            font-size: 16px;
                font-style: normal;
                font-weight: 600;
                }
}

.infoDetails {
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Manrope';
    padding: 0;
    text-align: start;
    background-color: var(--milk-bckg-color);
    border: none;
    
        @media screen and (min-width: 768px) {
                margin-bottom: 16px;
        }
    
        @media screen and (min-width:1280px) {
            margin-bottom: 12px;
        }

}

.timeText {
    font-family: 'Manrope';
    font-size: 12px;
    font-style: normal;
    margin: 0;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: auto;
    color: var(--black-color);

    @media screen and (min-width: 768px) {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    @media screen and (min-width:1280px) {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
}

.active {
    color: var(--blue-color)
}

.scheduleText{
    margin: 0;
    font-family: 'Manrope';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}