.container {
    width:1280px;
    margin: 0 auto;
    padding: 0;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.item {
    composes: shadow from '../../global.css';
    display: flex;
    margin: 0;
    padding: 0;
    width: 395px;
    height: 287px;
    flex-shrink: 0;
    margin-right: 32px;
    margin-bottom: 32px;
    border-radius: 40px;
}

.item:nth-child(3n){
    margin-right: 0;
}

.thumb {
    width: 146px;
    height: 104px;
    padding: 11px 8.484px 10px 8px;
}