/* .form_radio_btn {
    display: inline-block;
    margin-right: 10px;
} */




.form_radio {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 40px;
  margin-bottom: 137px;
}

.form_radio_btn_input {
  display: none;
}

.button {
  composes: lostAndFoundButton from '../../global.css';
  /* margin-right: 8px; */
}

.button:hover,
.button:checked {
    cursor: pointer;
  background: linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%);
  color: var(--white-color);
}

.active {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.image {
  display: block;
  width: 182px;
  height: 182px;
  border-radius: 40px;
  object-fit: cover;
  cursor: pointer;
}

.image_title {
  font-size: 20px;
  font-weight: 500;
}

.backLink {
  display: inline-flex;
  padding: 8px 20px;
  width: 248px;
  gap:12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  color: var(--blue-color);
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  left: -10px;
  bottom: 35px;
stroke: #54ADFF;
@media screen and (max-width: 768px){
  left: 30px;
    bottom: 0;
  }

  &:hover,
  focus {
    color: rgba(204, 228, 251, 1);
    stroke: rgba(204, 228, 251, 1);
  }
  
}

.logo {
  fill: inherit;
  stroke: inherit;
}

.image_button {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 100px;
  /* background-color:; */
  box-sizing: border-box;
}

.sex_thumb{
    margin-bottom: 48px;
}

.sex_section {
  display: flex;
}
.sex_thumb {
  display: flex;
  align-items: center;
}

.sex_male {
display: inline-flex;
height: 35px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;

  color: #888;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.64px;
  align-items: center;
  justify-content: center;
  stroke: #54ADFF;
  text-align: center;
}
.sex_male:hover{
cursor: pointer;
background:  linear-gradient(290deg, #419EF1 0%, #9BD0FF 107.89%);
border-radius: 40px;
 color:rgba(254, 249, 249, 1);
 stroke: rgba(254, 249, 249, 1);
}

.sex_female:hover{
cursor: pointer;
background:  linear-gradient(290deg, #419EF1 0%, #9BD0FF 107.89%);
border-radius: 40px;
 color:rgba(254, 249, 249, 1);
 stroke: rgba(254, 249, 249, 1);
}

.sex_female {
display: inline-flex;
height: 35px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;


  color: #888;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.64px;
  align-items: center;
  justify-content: center;
  stroke: #F43F5E;
  text-align: center;
}

.male_icon {
  stroke: inherit;
}

.female_icon {
  stroke: inherit;
}

/* stroke="#54ADFF"
stroke="#F43F5E" */

.sex_active {
    color:rgba(254, 249, 249, 1);
  stroke: rgba(254, 249, 249, 1);
  border-radius: 40px;
  background: #54adff;
}

.img_thumb{
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

margin-left: auto;
margin-right: auto;
}