.logo {

  height: 20px;
  width: 116px;

  @media screen and (min-width: 767px) {
    height: 28px;
    width: 162px;
  }
}
/* .logo.default {
  height: 28px;
  width: 162px;
} */

/* @media screen and (min-width: 767px) {
  .logo {
   height: 28px;
  width: 162px;
  }
} */

/* .logo.variant-2 {
  height: 20px;
  width: 116px;
} */
