.container{
  width: 280px;
  height: 456px;
  box-shadow:  3px 8px 14px 0px rgba(136, 198, 253, 0.19);
  border-radius: 0px 0px 40px 40px;
  background-color: var(--white-bckg-color);

  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  transition: 200ms ease-in-out;
  margin-right: auto;
  margin-left: auto;
  
  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-left: 0;
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
  }

  &:hover,
  &:focus {
    box-shadow: 3px 8px 14px 0px rgba(116,177,232,.24);
  }
  }


.wrapper{
  width: 280px;
  height: 288px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}

.pet_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category{
  width: 126px;
  height: 32px;
  background-color: var(--light-blue-color);
  border-radius: 0px 16px 16px 0px;
  position: absolute;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav_btn{
  fill:transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--light-blue-color);
  border: 0;
  outline: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.infav_btn{
 fill:var(--blue-color)
}


/* .del_btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--light-blue-color);
  border: 0;
  outline: 0;
  position: absolute;
  top: 68px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    stroke: var(--blue-color);
  }

  &:hover,
  &:focus {
    background-color: var(--blue-color);

    svg {
      stroke: var(--light-blue-color);
    }
  }
} */

.info_container{
  width: 280px;
  height: 28px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 12px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}

.info_item{
  min-width: 80px;
  height: 28px;
  background-color: var(--light-blue-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 4px;
  gap: 3px;
  font-size: 12px;
  font-weight: 600;
}


.svg_info{
    fill:var(--blue-color);
}


.bottom_container{
  height: 168px;
  padding: 20px 16px 28px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding: 20px 20px 24px 20px;
  }
}

.title{
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
}

.learn_btn{
  width: 248px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  background-color: var(--milk-bckg-color);

  .learn_svg{
    fill: var(--blue-color);
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background: linear-gradient(90deg,#9bd0ff,#419ef1);
    color: var(--white-bckg-color);
    border: 0;

    .learn_svg {
      fill: var(--white-bckg-color);
    }
  }
}