.container
{
  
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100vh - 140px);
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;



  @media screen and (max-width: 767px) {
    & {
        width: 280px;
        padding-top: 44px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 16px;
      }
  }


  @media screen and (min-width: 768px) {
    & {
        width: 680px;
        min-height: 50px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 24px;
        padding-top: 18px;
      }
  }
}

.container::-webkit-scrollbar {
  display: none;
}

.noticeCard{
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    & {
        display: flex;
        justify-content: left;
        margin-bottom: 28px;
      }
  }
}

.category{
  width: 126px;
  height: 32px;
  background-color: var(--light-blue-color);
  border-radius: 0px 16px 16px 0px;
  position: absolute;
  top: 25px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
      & {
        left: 0px;
        top: 26px;
      }
    }
}

.photo
{
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 0px 0px 40px 40px;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    & {
      width: 262px;
      height: 298px;
      object-fit: cover;
      margin-bottom: 0px;
      margin-right: 24px;
    }
  }
}

.information{
  width: 240px;
  @media screen and (min-width: 768px) {
      & {
        width: 328px;
      }
    }

}

.title{
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: -0.01em;

    @media screen and (min-width: 768px) {
      & {
          font-size: 28px;
          font-weight: 700;
          line-height: 1.366;
        }
    }
}

.informationItem{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  height: 20px;

  @media screen and (min-width: 768px) {
    & {
      font-size: 16px;
      line-height: 1.375;
    }
  }
}

.informationKey{
  width: 63px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;



  @media screen and (min-width: 768px) {
      & {
        width: 75px;
        font-size: 16px;
        font-weight: 700;
      }
  }
}

.value{
  margin: 0px;
  width: 122px;
  font-size: 12px;

  @media screen and (min-width: 768px) {
      & {
        width: 183px;
        font-size: 16px;
        font-weight: 400;
      }
  }
}

.contactWrap{

  &:hover {
      color: var(--yellow-color);
  }

  @media screen and (min-width: 768px) {
    & {
      width: 183px;
    }
  }
}

.valueLink{
  color: inherit;
  font-size: 12px;

  @media screen and (min-width: 768px) {
      & {
        font-size: 16px;
      }
    }
}

.wrap{
  @media screen and (min-width: 768px) {
      & {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 140px;
      }
    }

}

.commentContainer{
  margin-top: 4px;
  margin-bottom: 12px;
  width: 100%;

  font-weight: 400;
  font-size: 14px;


  @media screen and (min-width: 768px) {
    & {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 28px;
      margin-top: 0px;
    }
  }
}

.commentKey{
  margin-right: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.357;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    & {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.buttons{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
      & {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        margin-right: 0px;
        gap: 17px;
      }
    }
}

.favoriteBtn{
  composes: desktopButtonBlue from "../../global.css";
  font-family: Manrope;
  font-size: 16px;
  width: 256px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
      & {
        width: 129px;
        padding: 8px;
      }
    }
}

.favoriteBtn:hover {
  border: none;
  border-radius: 40px;
  background: var(--gr-blue, linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%));
  cursor: pointer;
}

.favBtn{
fill: transparent;
stroke: black;
  stroke-width: 5px;
outline: 1;
}

.infavBtn{
  fill: var(--white-color);
stroke: black;
  stroke-width: 5px;
}

.heart{
  width: 24px;
  height: 24px;
  stroke: var(--white-bckg-color);
  fill: var(--white-bckg-color);
  /* fill: none; */
  stroke-width: 1px;
}

/* .iconHeart{
  stroke: var(--white-bckg-color);
  fill: none;
  stroke-width: 1px;
} */

/*   stroke: black;
    stroke-width: 5px;
}

.iconHeart{
  stroke:black; 
  stroke-width: 5px;
} */




.contactLink{
  composes: desktopButtonWhite from "../../global.css";
  text-decoration: none;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  padding: 6px 0;
  width: 256px;
  height: 40px;

  font-size: 16px;
  font-family: Manrope;
  line-height: 1.375;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
      & {
        width: 129px;
        margin-bottom: 0px;
      }
    }
}

.contactLink:hover {
  border: none;
  border-radius: 40px;
  background: var(--gr-blue, linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%));
  cursor: pointer;
  color: var(--white-color);
}


