.title {
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: 700;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.addPetsButton_container {
    display: flex;
    justify-content: center;
    align-self:center;
    position: absolute;
    z-index: 100;
    margin-top: 101px;
    margin-left: 60%;
    margin-right: 60%;

}


@media screen and (min-width: 768px) {
    .title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 48px;
    }
    .navDesktopContainer {
        margin-bottom: 42px;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }
    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }
        .addPetsButton_container {
            display: flex;
            position: static;
            margin:0;    
        }
    
}

@media screen and (min-width: 1280px) { 
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}




