.title {
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: 100;
    margin-right: auto;
    text-align: center;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: 700;
}

.container{

    padding-left: 22px;
    padding-right: 20px;
    margin-left: auto;
        margin-right: auto;

    @media screen and (min-width: 768px) {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
        }
    
        /* @media screen and (max-width: 767px) {
    width: 100%;
        margin-left: auto;
        margin-right: auto;
 
        } */

}

.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 112px;
}



@media screen and (max-width: 768px) {
    .navContainer {
        display: flex;
        width:280px;
        margin-left: auto;
        margin-right: auto;

    }
.addPetsButton_container {
    display: flex;
    justify-content: center;
    align-self:center;
    position: absolute;
    z-index: 100;
    margin-top: 101px;
    margin-left: 200px;


}

    }


@media screen and (min-width: 768px) {
    .title {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 48px;
    }
    .navDesktopContainer {
        margin-bottom: 42px;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    .navRightContainer {
        display: flex;
        gap: 12px;
    }

    
    .container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }
        .addPetsButton_container {
            display: flex;
            position: static;
            margin:0;    
        }
        
    
}

@media screen and (min-width: 1280px) { 
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}




