
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat; 
  background-size: cover; 

}

.petsImg {
  background-repeat: no-repeat; 
  background-size: contain;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  line-height: 1.37; 
  
  text-align: center; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

  /* image positioning for mobile and tablet screens */
  @media screen and (max-width: 1199px) {
    .petsImg {
      position: absolute;
      top: 120px;
      left: 0;
  }
  }

  /*  mobile screen */
  @media screen and (max-width: 767.8px) {
    .container {
      background-image: url('../../images/bgMain_S@1x.png');
    }
    .petsImg {
      background-image: url('../../images/pets_S@1x.png');
    }
  }


  /*  mobile screen retina */
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          .container {
          background-image: url('../../images/bgMain_S@2x.png'); 
        }
        .petsImg {
          background-image: url('../../images/pets_S@2x.png');
        }
    }
    
  /* tablet screen */
    @media screen and (min-width: 768px) {
      .container {
      background-image: url('../../images/bgMain_M@1x.png');
      }
      .petsImg {
        background-image: url('../../images/pets_M@1x.png');
        position: absolute;
        top: 200px;
        /* left: 0; */
      }
      .title {
        font-size: 68px;
        line-height: 1.47;
        width: 588px; 
        margin-left: 32px;
        margin-bottom: 0;
        margin-top: 80px;
        display: block; 
        font-weight: 700;
        text-align: start;
        }
    }

  /* tablet screen retina */
      @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx){
        .container {
        background-image: url('../../images/bgMain_M@2x.png');   
      }
      .petsImg {
        background-image: url('../../images/pets_M@2x.png');
      }
      }
  
  /* desktop screen */
    @media screen and (min-width: 1280px) {
      .container {       
      background-image: url('../../images/bgMain_L@1x.png');
      background-size: contain; 
      /* width: 1280px; */
    }
    .petsImg {
      background-image: url('../../images/pets_L@1x.png');
      top: -80px;
      right: -100px;
      width: 80%;
      height: 80%;
    }
    .title {
      width: 500px;
      font-weight: 800;
      line-height: 1.3;
      margin-left: 16px;
      margin-top: 188px;
    }
  }

  /* desktop screen retina */
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          .container {
          background-image: url('../../images/bgMain_L@2x.png');   
        }
        .petsImg {
          background-image: url('../../images/pets_L@2x.png');
        }
    }




    


  

  


