.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (max-width: 767px) {
    & {
      width: 280px;
      min-height: 287px;
      padding-top: 68px;
      padding-bottom: 60px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      padding: 60px;
      width: 608px;
      min-height: 354px;
    }
  }
}


.title {
  font-family: Manrope;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0px;

  @media screen and (max-width: 767px) {
    & {

      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      font-size: 36px;
      margin-bottom: 52px;
    }
  }

}

.subtitle{
  font-family: Manrope;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

  @media screen and (max-width: 767px) {
    & {

      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      font-size: 24px;
      margin-bottom: 60px;
    }
  }
}



.goToProfileBtn{
  composes: desktopButtonBlue from "../../global.css";
  font-family: Manrope;
  font-size: 16px;
  display: inline-flex;
  padding: 8px 20px;
  width: 248px;
  justify-content: center;
  align-items: center;
}

.goToProfileBtn:hover {
      border: none;
      border-radius: 40px;
      background: var(--gr-blue, linear-gradient(315deg, #419ef1 0%, #9bd0ff 100%));
      cursor: pointer;
}

.logo{
  fill: var(--white-color);
}
