.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
text-align: center;

  @media screen and (min-width: 320px) {
    & {
      padding-top: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      padding-top: 0px;
    }
  }
}


.title {
  font-family: Manrope;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0px;

  @media screen and (min-width: 320px) {
    & {

      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      font-size: 36px;
      margin-bottom: 52px;
    }
  }

}

.subtitle{
  font-family: Manrope;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

  @media screen and (min-width: 320px) {
    & {

      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      font-size: 24px;
      margin-bottom: 60px;
    }
  }
}



.goToProfileBtn{
  composes: desktopButtonBlue from "../../global.css";
  font-family: Manrope;
  font-size: 16px;
  display: inline-flex;
  padding: 8px 20px;
  width: 248px;
}
