
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.6);
}


.modalWrapper {

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--white-bckg-color);
  border-radius: 40px;
  overflow-y: auto;


  @media screen and (min-width: 320px) {
      & {
        top: 100px;
      }
    }

    @media screen and (min-width: 768px) {
      & {
        top: 300px;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        top: 112px;
      }
    }


}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 9px;
  border: none;
  background-color: var(--white-bckg-color);
  color: var(--blue-color);
}
