.form {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    max-width: 280px;
    background-color: var(--milk-bckg-color);
    border-radius: 24px;
    overflow: hidden;
    composes: shadow from '../../global.css';
  }
  
  .button {
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: var(--milk-bckg-color);
    border: 0;
    opacity: 0.6; 
    transition: opacity 250ms var(--transition); 
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 1;
  }
  
  .iconSearch {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: var(--blue-color);
  }

  .iconClose {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    fill: var(--yellow-color);
  }
  
  .input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Manrope';
    border: none;
    outline: none;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 13px;
    color: #888888;
  }
  
  .input::placeholder {
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    line-height: normal;
    letter-spacing: 0.56px;
  }

  @media screen and (min-width: 768px) {
    .form {
        max-width: 608px;
        margin-bottom: 40px;
    }

    .input::placeholder {
        font-size: 20px;
        letter-spacing: 0.8px;
      }
  }

  @media screen and (min-width: 1280px) {
    .form {
        margin-bottom: 60px;
    }
  }