.header {
  box-sizing: border-box;
      display:flex;
      /* position: fixed; */
      align-items: center;
      width: auto;
  @media screen and (min-width: 1280px) {
    min-width: 1280px;
    margin: 0 auto;
    padding: 20px 16px 20px 16px;
  }

  @media screen and (width: 768px) {
    min-width: 768px;
    max-width: 1280px;
    composes: tabletContainer from "../../global.css";
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    max-width: 767px;
    width: auto;
    min-width: 320px;
  }
 
  /* margin: auto auto; */
  /* margin-top: 24px; */
      /* margin-left: auto;
  margin-right: auto; */
  /* padding-left: 16px;
  padding-right: 16px; */
/* margin: auto; */

/* @media screen and (max-width: 1279px) {
  
    min-width: 704px;
  } */






  /* @media screen and (min-width: 768px) {
    padding-top: 24px;
  }
  
  @media screen and (min-width: 1280px) {
    padding-top: 20px;
  } */
    /* @media screen and (min-width: 320px) {
    margin-top: 20px;
  } */
}





