.header {
  width: 100%;
}

.box {
  height: 80px;
  display: flex;
  justify-content: space-between;
 
}

.logo_image {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  gap: 30px;
}

.mobile_btn {
  display: none;
}

@media (max-width: 800px) {
  .mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -120%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #fef9f9;
    z-index: 10;
    transition: left 0.5s;
  }

  .active {
    left: 0;
  }

  .menu a {
    font-size: 28px;
  }
}
