.petsListWrapper{
    margin-top: 46px;
    @media screen and (min-width: 1280px) {
        margin-top: 0px;
    } 
    
  }
  .title{
    font-size: 20px;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    line-height: 1.1;
    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        font-size: 28px;
       
    }
}