.formContainer {
    box-sizing: content-box;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;

    width: 280px;
    min-height: 473px;
    background-color: #fff;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 20px;
    padding: 40px 12px;
    position: relative; 
}

@media screen and (min-width: 768px) {
    .formContainer {
        width: 458px;
        /* min-height: 542px; */
        border-radius: 40px;
        padding: 20px 32px;
        position: relative;
    }
}

.title{
    font-size: 20px;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    line-height: 1.1;
    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        font-size: 28px;
       
    }
}

