.container{
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin: auto;
  position: relative;
  
@media screen and (min-width: 768px) {
    width: 704px;
}
@media screen and (min-width: 1280px) {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 1248px;
} 
}
.userContainer{
    position: relative;
    box-sizing: border-box;
}
.title{
    font-size: 20px;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        font-size: 28px;
        font-weight: 700;
    }
}
.iconEditButton{
    display: block;
    position: absolute;
    top: 60px;
    right: 14px;
    background: transparent;
    border: none;
    &:hover {
        cursor: grab;
    }
}
.iconEdit{
    fill: var(--blue-color);
}