.container{
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  margin: auto;
  position: relative;
@media screen and (min-width: 768px) {
    width: 704px;
}
@media screen and (min-width: 1280px) {
    align-items: flex-start;
    flex-direction: row;
    gap: 32px;
    width: 1248px;
} 
}
.userContainer{
    position: relative;
    box-sizing: border-box;
}
.title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    @media screen and (min-width: 768px) {
        margin-bottom: 24px;
        font-size: 28px;
        
    }
}
.iconEditButton{
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 60px;
    right: 14px;
    background: transparent;
    border: none;
    padding: 0;
    &:hover {
        cursor: grab;
    }
    @media screen and (min-width: 768px) {
        top: 76px;
        right: 18px;
    }
}
.iconEdit{
    fill: var(--blue-color);
}

.iconCross{
    width: 24px;
    height: 24px;
}
.bg{
    background: rgba(254, 249, 249, 1);
    padding-top:30px;

    background: rgba(254, 249, 249, 1);
        padding-top: 28px;

    @media screen and (min-width: 768px) {
            padding-top: 28px;
        }
    
}
