@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@400;500&display=swap');


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 12px; ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   background-color:var(--white-bckg-color);
   background-image: url('./images/bgMain_L@1x.png'); 
   background-size: cover; 
   background-repeat: no-repeat;
    min-height: 100vh
}

/*  mobile screen */
@media screen and (max-width: 767.8px) {
  body {
   background-image: url('./images/bgMain_S@1x.png'); 
  }
 }

/*  mobile screen retina */
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
  body {
  background-image: url('./images/bgMain_S@2x.png'); 
}
}

/* tablet screen */
@media screen and (min-width: 768px) {
  body {
   background-image: url('./images/bgMain_M@1x.png'); 
  }
}

  /* tablet screen retina */
  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
   body {
   background-image: url('./images/bgMain_M@2x.png');   
  }
}

/* desktop screen */
@media screen and (min-width: 1280px) {
  body {       
  background-image: url('./images/bgMain_L@1x.png'); 
  background-size: contain;  
}
}

/* desktop screen retina */
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
  body {
  background-image: url('./images/bgMain_L@2x.png');   
}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
