:root {
    --yellow-color: rgba(255, 193, 7, 1);
    --grey-color: rgba(140, 200, 253, 0.44);
    --grey-text-color: rgba(136, 136, 136, 1);
    --milk-bckg-color: rgba(255, 255, 255, 1);
    --white-color: rgba(253, 247, 242, 1);
    --white-bckg-color: rgba(254, 249, 249, 1);
    --black-color: rgba(17, 17, 17, 1);
    --blue-color: rgba(84, 173, 255, 1);
    --hoover-color: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
    --light-blue-color: rgba(204, 228, 251, 1);
    --green-color: rgba(0, 195, 173, 1);
    --red-color: rgba(244, 63, 94, 1);
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.some{
color:#FEF9F9
}