.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 32px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }

.imgNoPet{
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}
.noPetsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (width: 768px) {
        width: 704px;
        margin-top: 0;
    }

    @media screen and (max-width: 767px) {
      max-width: 767px;
      min-width: 320px;
  }
  @media screen and (min-width: 1280px) {
      width: 1280px;
}
}
