.nav {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 159px;
  gap: 40px;
  text-align: center;
    /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-right: 100px; */
  width: 328px;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.find {
  color: #111;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
}
