.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.title {
    margin-top: 80px;
    margin-bottom: 0;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    font-family: 'Manrope', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #111111;
    /* overflow: hidden; */
}
.cat {
    display: flex;
    align-items: center;
    /* width: 822px; */
    height: 123px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    /* display: flex; */
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* justify-content: center;
        align-items: center; */
    /* padding: 30px; */
    overflow: hidden;
    background-color: #FFC107;
}
.text {
    font-family: 'Manrope', sans-serif;
    font-size: 130px;
    font-weight: 700;
    color: #54ADFF;
    transform: rotate(-12deg);
    margin-right: 0px;
}

.text04 {
    font-family: 'Manrope', sans-serif;
    font-size: 130px;
    font-weight: 700;
    color: #54ADFF;
    transform: rotate(24deg);
    margin-left: 6px;
}

.link_log_container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.link__log {
    display: flex;
    width: 248px;
    height: 40px;
    /* padding: 8px 20px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;

    border-radius: 40px;
    border: 2px solid var(--yellow, #54ADFF);
    background: var(--yellow, #54ADFF);
    color: #fef9f9;
}

.link__log:hover {
    border-radius: 40px;
    background: var(--gr-blue, linear-gradient(315deg, #3324FF 0%, #54ADFF 70%));
    color: #fef9f9;
}

.paw {
    fill: currentColor;
}



@media screen and (min-width: 768px) {
    .title {
        margin-top: 60px;
        margin-bottom: 0;
        font-family: 'Manrope', sans-serif;
        font-size: 32px;
        font-weight: 600;
        color: #111111;
    }
        .break {
            display: none;
        }
.cat {
    display: flex;
    align-items: center;
    /* width: 822px; */
    height: 308px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
   
}
.img {
    /* display: flex; */
        width: 280px;
        height: 280px;
        border-radius: 50%;
        /* justify-content: center;
        align-items: center; */
        /* padding: 30px; */
        overflow: hidden;
        background-color: #FFC107;
}

.text {
        font-family: 'Manrope', sans-serif;
            font-size: 326px;
            font-weight: 700;
            color: #54ADFF;
            transform: rotate(-12deg);
            margin-right:0px;
}

.text04 {
    font-family: 'Manrope', sans-serif;
    font-size: 326px;
    font-weight: 700;
    color: #54ADFF;
    transform: rotate(24deg);
    margin-left: 10px;
}


.link_log_container {
        display: flex;
        justify-content: center;
        margin-top: 70px;
}
.link__log {
    display: flex;
    width: 248px;
    height: 40px;
    /* padding: 8px 20px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;

    border-radius: 40px;
    border: 2px solid var(--yellow, #54ADFF);
    background: var(--yellow, #54ADFF);
    color: #fef9f9;
}
.link__log:hover {
    border-radius: 40px;
    background: var(--gr-blue, linear-gradient(315deg, #3324FF 0%, #54ADFF 70%));
    color: #fef9f9;
}
.paw {
    fill: currentColor;
}

}

@media screen and (min-width: 1280px) {
    .title {
        margin-top: 60px;
        margin-bottom: 0;
        font-family: 'Manrope', sans-serif;
        font-size: 32px;
        font-weight: 600;
        color: #111111;
    }
    .break {
        display: none;
    }
 .cat {
        display: flex;
        align-items: center;
        /* width: 822px; */
        height: 360px;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .img {
        /* display: flex; */
        width: 300px;
        height: 300px;
        border-radius: 50%;
        /* justify-content: center;
        align-items: center; */
        /* padding: 30px; */
        overflow: hidden;
        background-color: #FFC107;
    }
    .text {
        font-family: 'Manrope', sans-serif;
        font-size: 381px;
        font-weight: 700;
        color: #54ADFF;
        transform: rotate(-20deg);
        margin-right: 10px;
    }
    .text04 {
        font-family: 'Manrope', sans-serif;
        font-size: 381px;
        font-weight: 700;
        color: #54ADFF;
        transform: rotate(24deg);
        margin-left: 10px;
    }

    .link_log_container {
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }

    .link__log {
        display: flex;
        width: 248px;
        height: 40px;
        /* padding: 8px 20px; */
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.64px;

        border-radius: 40px;
        border: 2px solid var(--yellow, #54ADFF);
        background: var(--yellow, #54ADFF);
        color: #fef9f9;
    }

    .link__log:hover {
        border-radius: 40px;
        background: var(--gr-blue, linear-gradient(315deg, #3324FF 0%, #54ADFF 70%));
        color: #fef9f9;
    }

    .paw {
        fill: currentColor;
    }

   
}




/* .container{
    width: 100%;
    background-color: #FEF9F9;
    margin-left: auto;
    margin-right: auto;
} */